.item {
    padding: 14px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    width: 100%;
    object-fit: cover;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 10px 20px;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.buttonStar {
    outline: none;
    border: none;
    padding: 0;
    background-color: white;
    cursor: pointer;
}

.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 1px;
    stroke: black;
    fill: none;
    &:hover {
        stroke: #F0C900;
    }
}



.favorite {
    fill: #F0C900;
}